tensorflow==2.9.0rc0
protobuf==3.20
numpy==1.25.1
scipy
pandas
scikit-learn
opencv-python
facenet==1.0.5
h5py
gdown
matplotlib
openpyxl
pillow
requests
imutils
psutil
streamlit
align
nltk
gensim
streamlit_option_menu
